body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
}

p, a, li {
    margin: 0;
    padding: 0;
}

.brand-logo {
    font-family: sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.main-container {
    width: 98%;
    margin: auto;
}

.nav-link {
    color: black;
}

.main-section {
    background: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-section > h5 {
    font-size: 18px;
}
