body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f5f5f5;
}

p, a, li {
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    opacity: 0.95;
    box-shadow: 1px 1px 5px #ddd;
}

.brand-logo {
    font-family: sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.main-container {
    width: 98%;
    margin: auto;
}

.nav-link {
    color: black;
}

.main-section {
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-section > h5 {
    font-size: 18px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
